<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlightBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.controllers.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Master_S_To_DList_Controller</display-name>
    <servlet-name>Master_S_To_DList_Controller</servlet-name>
    <servlet-class>com.controllers.Master_S_To_DList_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Master_S_To_DList_Controller</servlet-name>
    <url-pattern>/Master_S_To_DList_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirlineController</display-name>
    <servlet-name>AirlineController</servlet-name>
    <servlet-class>com.controllers.AirlineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirlineController</servlet-name>
    <url-pattern>/AirlineController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightController</display-name>
    <servlet-name>FlightController</servlet-name>
    <servlet-class>com.controllers.FlightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightController</servlet-name>
    <url-pattern>/FlightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.controllers.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
</web-app>